In [84]:
import numpy as np
import pandas as pd

In [85]:
import matplotlib as mpl
import matplotlib.pyplot as plt

%matplotlib inline
%config InlineBackend.figure_format = 'svg'

In [86]:
train = pd.read_csv('./data/diamonds_train.csv')
test = pd.read_csv('./data/diamonds_test.csv')
sample_sub = pd.read_csv('./data/sample_submission.csv')

In [87]:
target = 'price'
cat_features = ['cut', 'color', 'clarity']
num_features = ['carat', 'depth', 'table', 'x', 'y', 'z']

for cat_feat in cat_features:
    train[cat_feat] = train[cat_feat].astype('category')
    test[cat_feat] = test[cat_feat].astype('category')
    
cat_df = pd.get_dummies(train[cat_features]) # Se pasa a número las variables categóricas (0,1)
num_df = train.loc[:,num_features]
train_df = pd.concat([cat_df, num_df], axis=1)

cat_df = pd.get_dummies(test[cat_features])
num_df = test.loc[:,num_features]
test_df = pd.concat([cat_df, num_df], axis=1)


features = list(cat_df.columns) + list(num_df.columns)

In [88]:
X = train_df
y = train[target]

In [89]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [90]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor()
regressor.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

# make submission

In [93]:

y_hat= regressor.predict(test_df)
submission = pd.DataFrame({'id': test['id'], 'price': y_hat})
submission.to_csv('submission3.csv', index=False)
submission

          id    price
0          0  3017.61
1          1  5420.22
2          2  9279.24
3          3  4142.25
4          4  1695.40
...      ...      ...
13480  13480  1897.85
13481  13481  2624.26
13482  13482  2972.80
13483  13483  2200.53
13484  13484   836.81

[13485 rows x 2 columns]

In [ ]:
#submission['price'].plot(kind='hist', bins=20, title='histogram', figsize=(10, 7));